*,*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 915px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-grid-container {
    /* background: red; */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    
    display: grid;
    grid-template-columns: repeat(5, 150px);

}

.color-item {
    /* background: #A626D3; */
    height: 550px;
    border: none;
    cursor: pointer;
}

.color {
    height: 90%;
}


input {
    display: block;
    padding: 1em;
}

.color-col-1 {
    background: #F55A5A;
}

.color-col-2 {
    background: #2B283A;
}

.color-col-3 {
    background: #FBF3AB;
}

.color-col-4 {
    background: #AAD1B6;
}
.color-col-5 {
    background: #A626D3;
}

.text-cont {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-cont p {
    align-self: center;
}